@inherits LayoutComponentBase
@inject UserManager<ApplicationUser> UserManager
@inject AuthenticationStateProvider AuthenticationStateProvider 

<MudThemeProvider />

<MudLayout>
    <MudAppBar Elevation="1">
        <MudIconButton Icon="@Icons.Material.Filled.Menu" Color="Color.Inherit" Edge="Edge.Start" OnClick="@((e) => DrawerToggle())" />
        <MudSpacer />
        <AuthorizeView>
            <Authorized>
                @{ 
                    string UserIniziale = context.User.Identity.Name.Substring(0, 1);
                }
                <MudAvatar Class="mr-4" Color="Color.Secondary">@UserIniziale</MudAvatar>
                <form method="post" action="Identity/Account/LogOut">
                    <MudButton Variant="Variant.Text" Color="Color.Inherit" ButtonType="MudBlazor.ButtonType.Submit" StartIcon="@Icons.Filled.Logout">logout</MudButton>
                </form>
            </Authorized>
        </AuthorizeView>
    </MudAppBar>
    <MudDrawer @bind-Open="_drawerOpen" Elevation="2">
        <MudDrawerHeader>
            <MudText Typo="Typo.h5" Class="mt-1">BBC Technologies</MudText>
        </MudDrawerHeader>
        <NavMenu />
    </MudDrawer>
    <MudMainContent>
        @Body
    </MudMainContent>
</MudLayout>

@code {
    bool _drawerOpen = true;
    
    void DrawerToggle()
    {
        _drawerOpen = !_drawerOpen;
    }
}
