@page "/"
    
<div class="container">
    <div class="row justify-content-center">
        <img src="image/logo.gif" class="col-4 ms-img-min" alt="Logo" />
    </div>
    <div class="row justify-content-center mt-4">
        <h1 class="col-12 text-left text-center">Benvenuto nell'area assistenza.</h1>
        <p class="col-12 text-left text-center">
            Per aprire i ticket potete contattare direttamente i seguenti numeri o mandare un e-mail <br />
            Tel: 051270394 Fax: 051 5135552 Cell: 3492356330; 3492356332 <br />
            E-mail: helpdesk@bbctech.it   Commerciale: Tel. 051 232751
        </p>
    </div>
</div>