@page "/"

    <img src="/StaticFiles/Image/Logo.gif" alt="logo bcc" />

    <h1>Benvenuto nell'area assistenza.</h1>

    <p>Per aprire i ticket potete contattare direttamente i seguenti numeri o mandare un e-mail</p>
    
    Tel: 051270394 Fax: 051 5135552 Cell: 3492356330; 3492356332
    E-mail: helpdesk@bbctech.it   Commerciale: Tel. 051 232751

    <div>
        <p>Contatti vari numeri utili</p>
    </div>

